* {
  margin:  0;
  padding: 0;
  background-color: rgba(33,37,41,255);
}

.titleIndex{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 10px;
}

.cart{
  color: white;
  margin-right: 20px;
}

.spanCart{
  color: black;
  font-size: 25px;
  background-color: rgba(255,193,7,255);
  border-radius: 90px;
  padding: 3px;
}


.logo{
  height: 55px;
  padding-left: 30px;
}

.divNav{
  border-bottom: black 3px solid;
}

.divItem{
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.spaH1{
  font-weight: bold;
  font-size: 60px;
  color: rgb(237, 2, 2);
}

.card{
  width: 18rem;
}

