.body {
  background-color: #ffa43a;
}

.divNav {
  background-color: #ffbf75;
}

.titulo {
  color: rgb(172, 149, 20);
  font-size: 30px;
}

.tituloDos {
  color: rgb(22, 27, 83);
  font-size: 25px;
}

.color {
  color: rgb(172, 149, 20);
}

.colorDos {
  color: rgb(22, 27, 83);
}

.letraAzul {
  color: #525558;
  font-weight: bold;
}

.titleIndex {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 10px;
}

.cart {
  color: white;
  margin-right: 20px;
}

.spanCart {
  color: black;
  font-size: 25px;
  border-radius: 90px;
  padding: 3px;
}

.logo {
  height: 50px;
}

.divItem {
  justify-content: center;
  text-align: center;
  color: #0000;
  padding-top: 20px;
}

.card {
  width: 18rem;
  box-shadow: 10px 5px 5px #525558;
}

.link {
  text-decoration: none;
}

.styleCard {
  max-width: 540px;
}

.iconCartVacio {
  color: white;
  box-shadow: 6px 6px 6px white;
  transition: 0.5s;
}
